.App{
    .statistics_global_container{
        width: 100%!important;
        min-height: 100vh;
        max-width: none;
        padding: 1em 0 6em 0;
        background-color: #13171b;
        .statistics-title{
            color: #fff!important;
            font-family: "Asap", sans-serif;
            font-weight: 100;
            text-align: center;
        }
        .summary-container{
            padding: 1em 0 0 0;
            .statistics-items{
                padding: .5em 0 0 0;
                position: relative;
                .statistics-list-container{
                    padding: 0;
                    .accordion-list{
                        .accordion-listItem{
                            padding: 0;
                            .accordion-productDescription-container{
                                display: flex;
                                position: relative;
                                .accordion-listItemIcon-container{
                                    min-width: 1em !important;
                                    display: flex;
                                    align-items: center;
                                    .accordion-itemIcon{
                                        color: #e7e7e7;
                                        width: 1.5em;
                                        height: 1.5em;
                                    }
                                }
                            }
                        }
                    }
                }
                .statistics-item-details{
                    padding: .5em 0;
                    width: 33%;
                    color: #e7e7e7;
                    font-family: "Asap", sans-serif;
                    font-size: 1.3em;
                }
                .total-price-container{
                    width: 93%;
                    text-align: end;
                    padding-top: .5em;
                    border-top: 1px solid #fff;
                    color: #e7e7e7;
                    font-family: "Asap", sans-serif;
                    font-size: 1.5em;
                }
            }
        }
        .no-statistics-container{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            .no-statistics-title{
                padding-top: 5em;
                font-family: "Asap", sans-serif;
                color: #e7e7e7;
                font-size: 2em;
            }
        }
        
    }
}